<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit User</title>
    <link rel="stylesheet" th:href="@{/css/add_group_permissions.css}">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"/>
</head>
<body>
<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <div th:insert="~{fragments/header}" ></div>
    <nav id="sidebar" class="sidebar-wrapper" >
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="#">Star Admin</a>
                <div id="close-sidebar">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="sidebar-header">
                <div class="user-pic">
                    <img class="img-responsive img-rounded" th:src="${avatarUrl}"
                         alt="User picture"/>
                </div>
                <div class="user-info">
                    <span class="username" th:text="${username}"></span>
                    <span class="role" th:text="${role}"></span>
                    <span class="user-status">
                        <i class="fa fa-circle"></i>
                        <span>Online</span>
                    </span>
                </div>
            </div>
            <div th:replace="~{fragments/sidebar}"></div>
        </div>
    </nav>

    <!-- Main Content -->
    <main class="page-content">
        <div class="container">
            <h1>Edit User</h1>
            <div th:if="${allPermissions.contains('user_update')}">
                <form th:action="@{/users/update/{id}/{dataType}(id=${user.id}, dataType=${dataType})}"
                      th:object="${user}" method="post">
                    <input type="hidden" th:field="*{id}"/>
                <div class="mb-3">
                    <label for="firstName" class="form-label">First Name:</label>
                    <input type="text" class="form-control" id="firstName" th:field="*{firstName}" required>
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Last Name:</label>
                    <input type="text" class="form-control" id="lastName" th:field="*{lastName}" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email" th:field="*{email}" required>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone:</label>
                    <input type="text" class="form-control" id="phone" th:field="*{phone}" required>
                </div>

                <button type="submit" class="btn btn-primary">Update User</button>
                <a th:href="@{/users/list}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
        </div>
    </main>

</div>

</body>
</html>
