<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add SubAdmin</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"/>
</head>
<body>
<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <div th:insert="~{fragments/header}"></div>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="#">Star Admin</a>
                <div id="close-sidebar">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="sidebar-header">
                <div class="user-pic">
                    <img class="img-responsive img-rounded" th:src="${avatarUrl}" alt="User picture"/>
                </div>
                <div class="user-info">
                    <span class="username" th:text="${username}"></span>
                    <span class="role" th:text="${role}"></span>
                    <span class="user-status">
                        <i class="fa fa-circle"></i>
                        <span>Online</span>
                    </span>
                </div>
            </div>
            <div th:replace="~{fragments/sidebar}"></div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="page-content">
        <div class="container">
            <h1>Add SubAdmin</h1>
            <div th:if="${allPermissions.contains('subAdmin_add')}">
                <form th:action="@{/admins/add}" th:object="${newUser}" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Name">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="userName">User Name</label>
                            <input type="text" class="form-control" id="userName" th:field="*{userName}"
                                   placeholder="User Name">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Email">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" th:field="*{password}"
                                   placeholder="Password">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="confirmPassword">Confirm Password</label>
                            <input type="password" class="form-control" id="confirmPassword" th:field="*{confirmPassword}" required/>
                            <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
                                  style="color:red;"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="phone">Phone</label>
                            <input type="text" class="form-control" id="phone" th:field="*{mobile}" placeholder="Phone">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="role">Role</label>
                            <input type="text" class="form-control" id="role" th:field="*{role}" placeholder="Role">
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="groupId">Group</label>
                        <select id="groupId" name="groupId" class="form-control">
                            <option value="">Choose...</option>
                            <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.name}"></option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
            <div th:unless="${allPermissions.contains('subAdmin_add')}">
                <p>You do not have permission to add sub-admins.</p>
            </div>
        </div>
    </div>
    <!-- Main Content -->

</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
